.table {
    border-collapse: collapse; 
    margin-top: 20px; 
    color:#354649;
  }
  
  .table th, .table td {
    padding: 8px 16px; 
    border: 1px solid #6C7A89; 
    text-align: center; 
  }
  
  